nav a {
    padding: 10px;
}

.home {
    background-image: url("/public/vending.jpg");
    background-size: cover;
    /* adjust as needed */
    background-position: center center;
    /* adjust as needed */
    background-repeat: no-repeat;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chips {
    background-image: url("/public/chips.jpg");
    background-size: cover;
    /* adjust as needed */
    background-position: center center;
    /* adjust as needed */
    background-repeat: no-repeat;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.soda {
    background-image: url("/public/soda.jpg");
    background-size: cover;
    /* adjust as needed */
    background-position: center center;
    /* adjust as needed */
    background-repeat: no-repeat;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cookies {

    background-image: url("/public/cookies.jpg");
    background-size: cover;
    /* adjust as needed */
    background-position: center center;
    /* adjust as needed */
    background-repeat: no-repeat;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home h1 {
    background-color: rgb(230, 199, 160);
}

.chips h1 {
    background-color: rgba(81, 177, 177, 0.897);
}

.soda h1 {
    background-color: rgb(73, 104, 161);
}

.cookies h1 {
    background-color: rgb(218, 149, 85);
}